@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Clash Display";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/ClashDisplay-Medium.woff2") format("woff2");
}

:root {
  --background: oklch(94.11% 0.036556 308.0303);
  --secondary-background: oklch(100% 0 0);
  --foreground: oklch(0% 0 0);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(71.9% 0.198 310.03);
  --border: oklch(0% 0 0);
  --ring: oklch(0% 0 0);
  --overlay: oklch(0% 0 0 / 0.8);
  --shadow: 4px 4px 0px 0px var(--border);
  --chart-1: #ca7aff;
  --chart-2: #facc00;
  --chart-3: #00d696;
  --chart-4: #ff7a05;
  --chart-5: #0099ff;
  --chart-active-dot: #000;
}

.dark {
  --background: oklch(29.68% 0.0791 315.62);
  --secondary-background: oklch(23.93% 0 0);
  --foreground: oklch(92.49% 0 0);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(67.34% 0.2314 309.13);
  --border: oklch(0% 0 0);
  --ring: oklch(100% 0 0);
  --shadow: 4px 4px 0px 0px var(--border);
  --chart-1: #d494ff;
  --chart-2: #e0b700;
  --chart-3: #00bd84;
  --chart-4: #eb6d00;
  --chart-5: #008ae5;
  --chart-active-dot: #fff;
}

@theme inline {
  --font-sans: var(--font-dm-sans);
  --font-mono: var(--font-fira-mono);
  --font-display: Clash Display, sans-serif;
  --color-main: var(--main);
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-foreground: var(--foreground);
  --color-main-foreground: var(--main-foreground);
  --color-border: var(--border);
  --color-overlay: var(--overlay);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --spacing-boxShadowX: 4px;
  --spacing-boxShadowY: 4px;
  --spacing-reverseBoxShadowX: -4px;
  --spacing-reverseBoxShadowY: -4px;
  --radius-base: 5px;
  --shadow-shadow: var(--shadow);
  --font-weight-base: 500;
  --font-weight-heading: 700;
}

@layer base {
  body {
    @apply text-foreground font-base bg-background;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

.or-separator {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
}

.or-separator::before,
.or-separator::after {
  content: "";
  flex-grow: 1;
  height: 0.75px;
  background-color: #c6c9cd;
}